.productCard-container {
    border: 1px solid hsl(0,0%, 80%);
    border-radius: 20px;
    box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: hsla(50,0%,0%,0.4);
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: background-color 0.5s ease;
}

.productCard-container img {
    border-radius: 50%;
    width: 40%;
    height: 40%;
}

h3{
    align-content: center;
    font-family: Arial, sans-serif;
    color: hsl(0,0%,20%);
    text-transform: capitalize;
}
.addProductButton{

}

.productCard-container:hover {
    background-color: hsla(50,0%,0%,0.3);
}