.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid mediumpurple;
    border-radius: 4px;
    outline: none;
    background-color: black;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.search-input:hover {
    border-color: deeppink;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.75);
    background-color: rgba(0, 123, 255, 0.1);
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.75);
}

.search-input:focus {
    box-shadow: 0 0 15px rgba(0, 123, 255, 1);
    border-color: #007bff;
    background-color: rgba(0, 123, 255, 0.15);
    text-shadow: 0 0 8px rgba(0, 123, 255, 1);
}