.shoppingListView-container{
    font-family: Arial, sans-serif;
    border: 10px solid hsl(100,10%, 80%);
    border-radius: 50px;
    background-color: hsla(50,0%,0%,0.2);
    width: 55%
}

.shoppingList-container{

}