.clientShoppingListView-container {
    flex: 2;
    font-family: Arial, sans-serif;
    border: 10px solid hsl(100, 10%, 80%);
    border-radius: 50px;
    background-color: hsla(201, 100%, 50%, 0.5);
}

.shoppingList-container {
    justify-content: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}